* {
    box-sizing: border-box;
    font-family: 'Oswald', Times;

}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color:cornflowerblue;
    font-size: 32px;
    z-index: 10;
    border-bottom: 2px solid black;

}

.header_menu_container {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 24px;
}

.header_menu_container button {
    display: block;
    flex: 1;
    font-size: inherit;
    background-color: transparent;
    border: none;
}

p.header {
    margin: 0px 25px;
    flex: 1.5 1 0;
}

button:hover {
    cursor: pointer;
}

@keyframes button_clicked {
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

header button:focus {
    animation: button_clicked 0.15s ease-in-out;
}

.thing_name {
    margin: 8px 0px;
}

.price {
    margin: 8px 0px;
}

body {
    background-color:gainsboro;
    height: 2500px;
    margin: 0;
}

.cards-container {
    display: flex;
    margin-top: 75px;
    margin-left: 10px;
}

.badge {
    position: absolute;
    color: red;
    top: -10px;
    left: -10px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: aquamarine;
    font-weight: bold;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15%;
}

.card:hover {
    transform: scale(1.015);
}

.card {
    position: relative;
    padding: 10px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 5%;
    width: 250px;       
    transition: transform 0.2s ease;
}
