* {
    box-sizing: border-box;
    font-family: 'Oswald', Times;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color:cornflowerblue;
    font-size: 32px;
    z-index: 10;
    border-bottom: 2px solid black;

}

.header_menu_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    font-size: 24px;
}

button {
    font-size: 1em;
    background-color: transparent;
    border: none;
    padding: 0px;
}

a:hover,
button:hover {
    cursor: pointer;
}

p.header {
    margin: 0px 25px;
    flex: 1.5 1 0;
}


/* @keyframes button_clicked {
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

header button:focus {
    animation: button_clicked 0.15s ease-in-out;
} */

body {
    background-color:gainsboro;
    height: 2500px;
    margin: 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 75px 20px;
}

.badge {
    position: absolute;
    color: red;
    top: -10px;
    left: -10px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: aquamarine;
    font-weight: bold;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15%;
}

.card:hover {
    transform: scale(1.015);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 5%;
    width: 250px;       
    height: 300px;
    transition: transform 0.2s ease;
}


.price {
    margin: 0px;
}

.thing_name {
    margin: 0px;
}

.card_top_container {
    flex: 1;
}

.card_bottom_container {
    flex-shrink: 0;
}

button.to_cart {
    font-size: 1em;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20%;
    background-color: rgb(248, 218, 218);
}

header button {
    font-size: inherit;
    background-color: transparent;
    border: none;
    padding: 0px;
}

.things_menu_trigger,
.gadjets_menu_trigger {
    position: relative;
}

.things_menu_trigger::after {
    content:'';
    position: absolute;
    left: 0;
    top: 100%;
    height: 12px;
    width: 100%
    /* visibility: hidden; */
    /* opacity: 0; */
}

.things_menu,
.gadjets_menu {
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    visibility: hidden;
    margin-top: 12px;
    left: 0;
    top: 100%;
    opacity: 0;
    background-color: bisque;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10%;
    /* transform: translateX(-50%); */
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.gadjets_menu {
    font-size: 1em;
    top: 0;
    left: 100%;
    margin-left: 16px;
}

.things_menu_trigger:hover .things_menu,
.gadjets_menu_trigger:hover .gadjets_menu {
    visibility: visible;
    opacity: 1;
}

.gadjets_menu_trigger::after {
    position: absolute;
    content: '';
    left: 100%;
    top: 0;
    width: 16px;
    height: 125%;
}

.close_button {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 90%;
  --weight: 3px;
  --aa: 1px; 
  --color: rgb(0, 0, 0);
  border-radius: 3px;
  background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}

.contacts_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    background-color: bisque;
    border: 2px solid black;
    border-radius: 5%;
    padding: 16px;
    z-index: 25;
}

.contacts_info_container {
    flex: 1;
}

.contacts_info_container p {
    margin: 0;
    padding: 0;
}