<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Grid layout</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
    </head>

    <body>
        <header>Шапка</header>
        <aside class="leftsidebar">Левый сайдбар</aside>
        <div>
            Главный контент
        </div>
        <aside class='rightsidebar'>Правый сайдбар</aside>
        <footer>Подвал</footer>

    </body>

</html>